@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes slide-right {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slide-left {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

.animate-slide-right {
  animation: slide-right 0.5s ease forwards;
}

.animate-slide-left {
  animation: slide-left 0.5s ease forwards;
}
